/* 專案區塊 */
.studio {
  &__banner {
    width: 100%;
    height: 450px;
    background-image: url('https://images.unsplash.com/photo-1558611848-73f7eb4001a1?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1920&q=1080');
    background-position: center;
    background-repeat: no-repeat;
    @include media-breakpoint-down(lg) {
      background-position: 20% center;
      height: 350px;
    }
    @include media-breakpoint-down(md) {
      background-position: 10% center;
      height: 250px;
    }
  }
  &__goal {
    li img {
      height: 300px; 
    }
  }
  // 人物頭像
  &__avatar {
    width: 110px;
    height: 110px;
    border-radius: 50%;
  }
  // 學員心得區塊
  &__experience {
    position: relative;
    &::before {
      position: absolute;
      content: '';
      top: 0;
      right: 0; 
      bottom: 0; 
      left: 0;
      border: 1px map-get($theme-colors, 'dark' ) solid;
      transform: skew(-10deg);
      z-index: -1;
      @include media-breakpoint-down(lg) {
        transform: skew(-8deg);
      }
      @include media-breakpoint-down(md) {
        border: 0;
        border-bottom: 1px map-get($theme-colors, 'secondary' ) solid;
        transform: skew(0deg);
      }
    }
  }
  // 首頁產品選擇
  &__productSelect {
    img {
      height: 400px;
      @include media-breakpoint-down(lg) {
        height: 274px;
      }
      @include media-breakpoint-down(md) {
        height: 220px;
      }
      @include media-breakpoint-down(sm) {
        height: 155px;
      }
    }
    
  }
  // 訂閱區塊
  &__subscribe {
    height: 300px;
    background-image: url('https://images.unsplash.com/photo-1535743686920-55e4145369b9?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1920&q=80');
    background-position: center;
    @include media-breakpoint-down(lg) {
      height: 200px;
    }
  }
  // 關於我們
  &__about {
    img {
      height: 500px;
      @include media-breakpoint-down(lg) {
        height: 250px;
      }
    }
  }
  // 檢視購物車
  &__checkout {
    img {
      width: 120px;
      height: 110px;
    }
  }
}

.product {
  &__categoryTab {
    position: sticky;
    top: 63.6px;
    z-index: 99;
    @include media-breakpoint-down(lg) {
      top: 60.4px;
    }
    @include media-breakpoint-down(md) {
      top: 57.2px;
    }
    &--active {
      transition: 0.3s;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    }
    li {
      border-right: 1px #dee2e6 solid;
      border-bottom: 1px #dee2e6 solid;
      &:last-child {
        border-right: 0;
      }
      @include media-breakpoint-down(md) {
        border: 0;
        &:nth-child(2), &:first-child  {
          border-bottom: 1px #dee2e6 solid;
        };
        &:nth-child(2n+1)  {
          border-right: 1px #dee2e6 solid;
        };
      }
    }
  }
  &__list {
    img {
      height: 210px;
      @include media-breakpoint-down(lg) {
        height: 128px;
      }
    }
  }
  &__inside {
    img {
      height: 400px;
      @include media-breakpoint-down(md) {
        height: 220px;
      }
    }
  }
  &--hover {
    &:hover{
      transition: 0.3s;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    }
  }
}
