/* 標籤類 */
th, td {
  vertical-align: middle;
}

img {
  object-fit: cover;
}
 
p {
  color: #363B48;
  line-height: 1.5;
}

.logo {
  font-family: 'Kenia', cursive;
  &__icon {
    font-size: 0.5rem;
  }
}

/* 更改 bootstrap 現有 CSS */
.btn-primary {
  color: white;
}

/* custom */
.height--vh {
  height: 100vh;
}
.product {
  &__categoryTab {
    position: sticky;
    top: 63.6px;
    z-index: 99;
    // border-bottom: 1px #dee2e6 solid;
    @include media-breakpoint-down(lg) {
      position: fixed;
      top: 93.5%;
    }
    &--active {
      transition: 0.3s;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    }
    li {
      border-right: 1px #dee2e6 solid;
      &:last-child {
        border: 0;
      }
    }
  }
  &__list {
    &__img {
      height: 185px;
      @include media-breakpoint-down(lg) {
        height: 128px;
      }
    }
  }
  &--hover {
    &:hover{
      transition: 0.3s;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    }
  }
}
