/* 標籤類 */
body {
  overflow-x: hidden;
}
th, td {
  vertical-align: middle;
}

img {
  object-fit: cover;
}
 
p {
  color: #363B48;
  line-height: 1.5;
}

.logo {
  font-family: 'Kenia', cursive;
  &__icon {
    font-size: 0.5rem;
  }
}
.main {
  min-height: calc(100vh - 136px);
}

/* 更改 bootstrap 現有 CSS */
.btn-primary {
  color: white;
}

/* custom */
.height--vh {
  height: 100vh;
}

.studio {
  &__banner {
    width: 100%;
    height: 450px;
  }
  &__goal {
    li img {
      height: 250px; 
    }
  }
  &__productSelect {
    img {
      height: 400px;
    }
  }
  &__avatar {
    width: 110px;
    height: 110px;
    border-radius: 50%;
  }
  &__experience {
    position: relative;
    &::before {
      position: absolute;
      content: '';
      top: 0; 
      right: 0; 
      bottom: 0; 
      left: 0;
      border: 1px map-get($theme-colors, 'primary' ) solid;
      // background: map-get($theme-colors, 'primary' );
      transform: skew(-15deg);
      z-index: -1;
    }
  }
}

.product {
  &__categoryTab {
    position: sticky;
    top: 63.6px;
    z-index: 99;
    // border-bottom: 1px #dee2e6 solid;
    @include media-breakpoint-down(lg) {
      position: fixed;
      top: 93.5%;
    }
    &--active {
      transition: 0.3s;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    }
    li {
      border-right: 1px #dee2e6 solid;
      &:last-child {
        border: 0;
      }
    }
  }
  &__list {
    &__img {
      height: 185px;
      @include media-breakpoint-down(lg) {
        height: 128px;
      }
    }
  }
  &__inside {
    &__img {
      height: 400px;
    }
  }
  &--hover {
    &:hover{
      transition: 0.3s;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    }
  }
}

.checkout {
  &__img {
    width: 100px;
    height: 80px;
  }
}
